@font-face {
  font-family: 'Myriad Pro';
  src: url('{{ site.BaseURL }}/fonts/Myriad Pro-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('{{ site.BaseURL }}/fonts/Myriad Pro-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('{{ site.BaseURL }}/fonts/Myriad Pro-Bold.ttf') format('truetype');
  font-weight: bold;
}
